PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb://localhost:27017/madrasah
CLIENT_URL=http://localhost:5173

JWT_ACCESS_SECRET=madrasah_access_secret_super_secure_key_12345
JWT_REFRESH_SECRET=madrasah_refresh_secret_super_secure_key_67890
JWT_ACCESS_EXPIRATION=15m
JWT_REFRESH_EXPIRATION=7d

SMS_PROVIDER=MOCK
SMS_API_URL=https://api.smsbd.net/sendsms
SMS_API_KEY=mock_api_key_sample
SMS_SENDER_ID=MadrasahEdu
